/* Cài đặt mặc định */
*, body {
  margin: 0;
  padding: 0;
  /* font-family: "utm_neutraregular" !important; */
  font-weight: bold !important;
}

html, body {
  height: 100%;
}

.hien_thi * {
  font-family: "utm_neutraregular" !important;
}

.heading {
  border-bottom: 1px solid white;
}

.center {
  text-align: center;
}

/* Cài đặt màu */
.do, .xanh, .den, .do_dam, .xanh_dam {
  border: 1px solid white;
  color: white;
}

.do {
  background-color: #ff7081;
}

.xanh {
  background-color: #1C5AFC;
}

.green {
  color: #3cd247;
}

.do_dam {
  background-color: #ff2c2c;
}

.xanh_dam {
  background-color: #014EFE;
}

.den {
  background-color: #5D5957;
}

.flag {
  background-image: url("../img/quoc_ky.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 0px;
  color: transparent;
}

.score {
  height: 70vh;
}

.score .do_dam,
.score .xanh_dam {
  display: flex;
  align-items: center;
  justify-content: center;
}

/* .num_score {
  font-size: 15rem;
} */

.time {
  border: 5px solid #F8F905;
  font-size: 5rem !important;
  margin-top: 8vh !important;
}

.footer {
  border-top: 1px solid white;
  height: 20vh;
}